<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_Entity.Properties.Settings.QuanLyQuanCaFeConnectionString"
            connectionString="Data Source=ADMIN;Initial Catalog=QuanLyQuanCaFe;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>